.topBar {
    position: fixed;
    height: 65px;
    line-height: 65px;
    background: white;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
}

#selectAlgo {
}

#slider-container {
    margin-top: 17px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 20px;
    flex: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.drag {
  pointer-events: none;
  background-color:
}

#range {
    width: 100%;
    font-size: .75em;
}

#range-start {
    float: left;
}

#range-end {
    float: right;
}

#slider {
    width: 100%;
}

#select {
    font-weight: bold;
    font-size: 1em;
    height: 40px;
    margin-left: 62px;
}

.graphContent {
    width: 100%;
    overflow: hidden;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 3px;
    font: 12px sans-serif;
    background: lightsteelblue;
    pointer-events: none;
}

.graph {
    float: left;
    width: 100%;
    clear: both;
}

.graphLegend {
    float: left;
    padding: 20px;
    height: 500px;
}

#content {
    position: relative;
    width: 100%;
    margin-top: 90px;
}
