@(df: org.apache.spark.sql.DataFrame)(implicit assetsFinder: AssetsFinder)

@main("Hello Valhalla", assetsFinder) {
<div class="topBar">
    <div id="topName">Valhalla</div>
</div>
<div class="content">
    <div id="graphContent">
        <div id="graph">
            <svg width="960" height="500"></svg>
        </div>
        <div id="graphLegend">
        </div>
    </div>
    <div id="graphSelect">
        ETH <input type="checkbox" name="eth" checked>&nbsp;&nbsp;&nbsp;
        LTC <input type="checkbox" name="ltc" checked>&nbsp;&nbsp;&nbsp;
        XBT <input type="checkbox" name="xbt" checked><br>
        XRP <input type="checkbox" name="xrp" checked>&nbsp;&nbsp;&nbsp;
    </div>

</div>
}
